<% action = @sub.persisted? ? sub_url(@sub) : subs_url %>
<% method = @sub.persisted? ? "PATCH" : "POST" %>
<% submit = @sub.persisted? ? "update sub" : "make sub" %>


<form action="<%= action%>" method="POST">
  <input type="hidden" name="_method" value="<%=method%>">
  
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    
    <label for="title">Title</label>
    <input
      type="text"
      name="sub[title]"
      id="title"
      value="<%=@sub.title%>">
      
      <br>
      <br>
      
    <label for="description">Description</label>
    <textarea
      name="sub[description]"
      id="description"><%=@sub.description%></textarea>
      <br>
      
    <input type="submit" value="<%=submit%>">
  
</form>

