  
  <% action = @post.persisted? ? post_url(@post) : posts_url %>
  <% method = @post.persisted? ? "PATCH" : "POST" %>
  <% submit = @post.persisted? ? "update post" : "make post" %>


  <form action="<%= action%>" method="POST">
    <input type="hidden" name="_method" value="<%=method%>">
  
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    
      <label for="title">Title</label>
      <input
        type="text"
        name="post[title]"
        id="title"
        value="<%=@post.title%>">
      
        <br>
        <br>
      
      <label for="content">Content</label>
      <textarea
        name="post[content]"
        id="content"><%=@post.content%></textarea>
        <br>
        
        <label>Check the subs</label>
        <br>
        <%@subs.each do |sub|%>
          <label for="subbox"><%=sub.title%></label>
          <input type="checkbox" 
                  name="post[sub_ids][]" 
                  id="subbox" 
                  value="<%=sub.id%>"
                  <%= "checked" if @post.sub_ids.include?(sub.id)%>>
        <%end%>
        <br>
      
      <input type="submit" value="<%=submit%>">
  
  </form>